/* line 1, ../sass/flats.scss */
.section_one.rooms {
  height: calc(100% - 90px);
  width: 100%;
  padding: 0;
}

/* line 6, ../sass/flats.scss */
.left_wrap {
  width: 50%;
  height: auto%;
  float: left;
}

/* line 11, ../sass/flats.scss */
.rooms .one_text_left {
  text-align: center;
}

/* line 14, ../sass/flats.scss */
.floor_info div {
  margin: 0 30px;
}

/* line 17, ../sass/flats.scss */
.right_wrap {
  width: 50%;
  height: 100%;
  float: right;
  margin: 40px 0 0;
  background: none;
  position: relative;
}

/* line 25, ../sass/flats.scss */
.right_wrap svg {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* line 31, ../sass/flats.scss */
.right_wrap img {
  height: 100%;
  max-width: 100%;
}

/* line 35, ../sass/flats.scss */
.wrapper_flat {
  height: 100%;
}

/* line 38, ../sass/flats.scss */
.floor_info {
  position: static;
}

/* line 41, ../sass/flats.scss */
a.button {
  width: 412px;
  margin: 0 auto;
}

/* line 45, ../sass/flats.scss */
.left_wrap_box {
  float: right;
  margin-top: 25vh;
}

/* line 49, ../sass/flats.scss */
.active {
  opacity: 1;
}

@media only screen and (max-width: 1220px) {
  /* line 53, ../sass/flats.scss */
  a.button {
    width: 310px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 58, ../sass/flats.scss */
  .left_wrap {
    width: 100%;
    height: auto;
    float: none;
  }

  /* line 63, ../sass/flats.scss */
  .left_wrap_box {
    float: none;
    margin-right: auto;
    margin-top: 36px;
  }

  /* line 68, ../sass/flats.scss */
  .right_wrap {
    float: none;
    margin: 0 auto;
    width: 100%;
  }

  /* line 73, ../sass/flats.scss */
  a.button {
    width: 300px;
  }

  /* line 76, ../sass/flats.scss */
  .section_one.rooms {
    height: auto;
  }

  /* line 79, ../sass/flats.scss */
  .floor_info {
    position: static;
  }

  /* line 82, ../sass/flats.scss */
  .rooms:not(.flat) .reserve {
    margin-top: 0px;
  }
}
