/* line 1, ../sass/menu.scss */
.nav {
  background: none;
  position: relative;
}

/* line 4, ../sass/menu.scss */
.header-top {
  position: absolute;
}

/* line 7, ../sass/menu.scss */
.header-content {
  position: absolute;
  z-index: 100;
  margin-left: -600px;
  left: 50%;
}

/* line 13, ../sass/menu.scss */
.nav svg {
  position: absolute;
  top: 0px;
  height: 152px;
  left: 50%;
  margin-left: -910px;
}

/* line 20, ../sass/menu.scss */
.nav .nav-left {
  width: auto;
  position: absolute;
  left: 0px;
}

/* line 25, ../sass/menu.scss */
.nav li {
  display: inline-block;
  margin: 30px 10px 0 16px;
}

/* line 29, ../sass/menu.scss */
.nav .nav_wrapper {
  margin: 30px auto;
  width: 1160px;
}

/* line 33, ../sass/menu.scss */
.nav .nav-right {
  width: auto;
  right: 9px;
  z-index: 2;
}

/* line 38, ../sass/menu.scss */
.nav-mask {
  width: 1164px;
  pointer-events: all;
  margin: -157px auto 0;
}

/* line 43, ../sass/menu.scss */
.nav-mask svg {
  width: 1158px;
  left: 0px;
  margin-left: 0;
  top: -7px;
}

/* line 49, ../sass/menu.scss */
.st0 {
  fill: #E3222C;
  opacity: 0;
  transition: 0.3s;
}

/* line 54, ../sass/menu.scss */
.st0:hover {
  cursor: pointer;
  fill: #E3222C;
  opacity: 1;
}

/* line 61, ../sass/menu.scss */
#overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
  cursor: default;
  opacity: 0;
}

/* line 73, ../sass/menu.scss */
#one_callback {
  margin-left: -500px;
  left: 50%;
  position: absolute;
  z-index: 101;
  display: none;
  opacity: 0;
  top: -200px;
}

/* line 82, ../sass/menu.scss */
#one_callback span {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin-left: 431px;
  margin-top: -130px;
  cursor: pointer;
}

/* line 92, ../sass/menu.scss */
.close_popup:hover {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(3180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

/* line 100, ../sass/menu.scss */
#one_callback span img {
  margin-top: 9px;
  width: 64%;
  float: none;
}

/* line 105, ../sass/menu.scss */
.captch {
  width: 310px;
  height: 75px;
  background-color: grey;
  margin: 12px 7px;
}

/* line 111, ../sass/menu.scss */
.info_small {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1220px) {
  /* line 117, ../sass/menu.scss */
  .nav svg {
    height: 90px;
    margin-left: -544px;
  }

  /* line 121, ../sass/menu.scss */
  .header-content {
    width: 760px;
    margin-left: -380px;
  }

  /* line 124, ../sass/menu.scss */
  .nav .nav_wrapper {
    margin: 4px auto;
    width: 768px;
  }

  /* line 128, ../sass/menu.scss */
  .nav .nav-left {
    left: 38px;
  }

  /* line 129, ../sass/menu.scss */
  .nav .nav-right {
    right: 56px;
  }

  /* line 130, ../sass/menu.scss */
  .nav li {
    margin: 30px 2px 0 4px;
  }

  /* line 131, ../sass/menu.scss */
  .nav-mask {
    margin: -72px auto 0;
    height: 72px;
  }

  /* line 135, ../sass/menu.scss */
  .nav-mask svg {
    left: 3px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 139, ../sass/menu.scss */
  .nav .nav_wrapper {
    width: 100%;
  }

  /* line 140, ../sass/menu.scss */
  .nav .mini-menu {
    top: -30px;
  }

  /* line 141, ../sass/menu.scss */
  .nav svg {
    display: none;
  }

  /* line 142, ../sass/menu.scss */
  .header-content, .header-top {
    position: static;
  }

  /* line 143, ../sass/menu.scss */
  .nav {
    overflow-x: inherit;
  }
}
